<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-cookies.js"></script>
<title>Login</title>
 <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="keywords"
          content="unique login form,leamug login form,boostrap login form,responsive login form,free css html login form,download login form">
    <meta name="author" content="leamug">
    <title> Login Form</title>
    <link href="login.css" rel="stylesheet" id="style">
       
    
    <!-- Bootstrap core Library -->
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    
    <!-- Google font -->
    <link href="https://fonts.googleapis.com/css?family=Dancing+Script" rel="stylesheet">
    
    <!-- Font Awesome-->
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
</head>
<body>

<div class="container" ng-controller="UserController">

    <div class="row">
    <div class="col-lg-4 col-sm-12 left text-center">
      <!-- <div class="col-md-offset-5 col-md-4 text-center"> -->  
            <br><br><br><h1 class='text-white'>Login Form</h1>
             <a class="btn btn-primary btn-md" >Unico</a>
            <div class="form-login"></br>
                <h4>Secure Login</h4>
                </br>
                <input type="text" ng-model="userDetail.username" id="userName" class="form-control input-sm chat-input" placeholder="username"/>
                </br></br>
                <input type="password" ng-model="userDetail.password" id="userPassword" class="form-control input-sm chat-input" placeholder="password"/>
                </br></br>
                <a href="#/register" class="btn btn-link">Don't have an account? Register</a>
                
                </br>{{error}}</br>
                </br>
                <div class="wrapper">
                        <span class="group-btn">
                        <button type="submit" ng-click="checkUser()"  class="btn btn-primary">Login<i class="fa fa-sign-in"></i></button>
                            
                        </span>
                </div>
            </div>
        </div>
    </div>
    </div>
    </div>
</body>
</html>